SECRET_KEY=dein-geheimer-schluessel-hier-aendern
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=myfest
POSTGRES_USER=myfest_user
POSTGRES_PASSWORD=sicheres_passwort

DATABASE_URL=postgres://myfest_user:sicheres_passwort@db:5432/myfest
